@use "./vars" as v;

.portafolio {
  margin: 20px 0 0 0;
  padding: 30px 0 0 0;
}
.portafolio-items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .portafolio-items {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 40px;
  }
}
